
   body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://i.pinimg.com/564x/b8/e7/3b/b8e73b0c1d8f1b8213f6742a83943302.jpg");
    background-attachment: fixed;
    background-size: cover;
}
header{
    height: 70px;
    background-image: url("https://i.pinimg.com/564x/55/c5/cf/55c5cfb5c0c14f647c39486a0ddf7655.jpg");
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-position: 25px;
    background-size: 10000px;
}
.photo{
    height: 60px;
    border-radius: 100px;
    border: 1px solid rgba(173, 59, 144, 0.562);
}

.url{ 
    color: black;
}
.url:hover {
    color:rgb(43, 255, 0);
}
a:hover{
    color:rgb(236, 22, 208);
}
table{
    border: 3px double black;
    
}
th{
    border: 1px solid black;
}
tr:nth-child(odd){
     background-color: rgba(68, 187, 235, 0.692); 
}
tr:nth-child(even){
    background-color: #d0f11298; 
}
footer{
    height: 70px;
    background-image: url("https://i.pinimg.com/564x/55/c5/cf/55c5cfb5c0c14f647c39486a0ddf7655.jpg");
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-position: 30px;
    background-size: 10000px;
}

@media all and (orientation: landscape), (min-device-width: 700px){
    header{
        height: 65px;
    }
    .photo{
        height: 60px;
    }
    footer{
        height: 60px;
    }
    label{
        font-size: medium;
    }
    
}
